{% extends "base.html" %}

{% block content %}
    {% include "alerts.html" %}
    <form action="{% url "register" %}" class="formulario" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="campo">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Registrar" class="boton">
    </form>

    <div class="acciones">
        <a href="{% url "login" %}">¿Ya tienes una cuenta? Iniciar sesión</a>
        <a href="{% url "forget" %}">¿Olvidaste tu contraseña?</a>
    </div>
{% endblock content %}